{% extends "base.html" %}
{% block content %}
<h1> Movies and Projections: </h1>
{% for movie in movies %}
<div class="panel panel-primary">
    <div class="panel-heading">
        {{ movie.name }}
    </div>
    <div class="panel-body">
        <p> Rating of the movie: {{ movie.rating }}</p>
        <strong>Projections:</strong>
        <ul class="list-group">
        {% for proj in movie.projection_set.all %}
            <li class="list-group-item">
            <a href="/show-projection/{{proj.id}}">
                {{ proj.time|time:"G:i" }} in HALL #{{ proj.hall }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}
</ul>
{% endblock %}
